# Core dependencies
llama-index
transformers
sentence-transformers
llama-index-vector-stores-weaviate
llama-index-embeddings-huggingface
# Vector store
weaviate-client

# Vietnamese language processing
underthesea
pyvi

# Utils
python-dotenv
loguru
tqdm

# Web app
streamlit


# LLM
openai

# Tokenizer
tiktoken